body{
    font-family: 'tinos';
}

a{
    text-decoration: none;
    color: black;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

h4{
    color: gray;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button{
    background-color: #96958a;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
}

.overflow_hiden{
    overflow: hidden;
}
.hover_img{
    transform: scale(
        1.2
    );
    transition: .5s all ease-in-out;
}
.transition_img{
    height: 100%;
    width: 100%;
    transition: 1s all ease;
}