.bg_img{
    height: 100vh;
    width: 100%;
    background: url(../../images/hero-vines_1920x700_crop_center.jpg) center/cover ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    p, h1 {
        color: white;
        
    }
    p{
        font-size: 20px;
        text-transform: capitalize;
    }
    h1{
        font-size: 70px;
        margin-top: 10px;
    }
}

.explorations {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   column-gap: 40px;
}
.explorations__title{
    grid-column: span 4;
    text-align: center;
    margin: 30px 0;
    
    h1{
        text-transform: uppercase;
    }
}
.exploration{
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .exploration__img{
        overflow: hidden;

        &:hover img{
            transform: scale(
                1.2
            );
            transition: .5s all ease-in-out;
        }
        img{
            height: 100%;
            width: 100%;
            transition: 1s all ease;
        }
    }
    .exploration__link{
        font-size: 20px;
        text-transform: uppercase;
        &:hover{
            border-bottom: 1px solid black;
        }
        
    }
}

.family_business{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    column-gap: 250px;
    background-color: #f6f6f0;
    .family_business__img{
        display: flex;
        justify-content: right;
    }
    .family_business__description{
        width: 50%;
        p{
            line-height: 2;
            margin-bottom: 40px;
        }
        
        
    }

}

.articles_tailored{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .articles_tailored__img{
            overflow: hidden;

        &:hover img{
            transform: scale(
                1.2
            );
            transition: .5s all ease-in-out;
        }
        img{
            height: 100%;
            width: 100%;
            transition: 1s all ease;
        }
        }
    }

    .articles_tailored__title{
    grid-column: span 2;
    margin : 20px 0;
}
    .article_tailored__description{
        width: 60%;
        .article__description__link{
            color: #96958a;
            letter-spacing: 0.1em;
            font-size: 15px;
            text-transform: uppercase;
            padding: 0 10px;
        }
        .article__description__link:nth-of-type(1){
            border-right: 1px solid #96958a;
        }
    }
}

.articles_grape{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    h1, .button{
        grid-column: span 3;
    }
    .button{
        margin-bottom: 100px;
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        max-width: 400px;
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 20px;
            .articles_grape__img{
                overflow: hidden;
            }
        }
        
        &:hover img{
            transform: scale(
                1.2
            );
            transition: .5s all ease-in-out;
        }
        img{
            transition: 1s all ease;
        }
    }
    .read_now{
        color: #96958a;
        text-transform: uppercase;
        border-bottom: 1px solid #96958a;
    }
}